.banner-section {
	display: block;
	width: 100%;
	min-height: 18em;
	margin-top: 50px;
	position: relative;
	@media screen and (min-width: $tabwidth) {
		min-height: 40em;
		margin-top: 70px;
	}
	img {
		width: 100%;
		height: auto;
	}
	ul.slides {
		width: 100%;
	}
	.flexslider {
		margin: 0 0;
		border-radius: 0;
		background: none;
		border:none;
		box-shadow: none;
	}
	.flex-control-nav {
		bottom: 0;
		z-index: 999;
		text-align: right;
		height: 15px;
		padding-right: 5px;
		top: 22%;
		@media screen and (min-width: $tabwidth) {
			
		}
		li {
			display: inline-block;
			a {
				width: 8px;
				height: 8px;
				text-decoration: none;
				color: transparent;
				text-indent: -999em;
				background: #FFF;
				box-shadow: none;
				opacity: 0.5;
				&.flex-active {
					opacity: 1;
				}
			}
		}
		
	}

	.flex-direction-nav a {
		color: #FFF;
		width: 35px;
		height: 40px;
		background: rgba(0,0,0,.5);
		text-align: center;
		overflow: hidden;
		top: 60%;
		&:before {
			display: inline-block;
			color: #FFF;
			font-size: 20px;
			line-height: 40px;
		}
	}
}
.error-404 .page-header {
	text-align: center;
}

.subpage #primary {
	padding-top: 30px;
	.page-title {
		text-align: center;
	}
}
.taxonomy-description {
	margin-bottom: 30px;
}
